name: Concurrency Test Excluding MacOS

on:
  workflow_dispatch:

jobs:
  primary:
    name: Variation
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 60
      matrix:
        os: [windows-latest, ubuntu-latest, ubuntu-latest, ubuntu-latest]
        iteration: [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

    steps:
      - name: Work
        shell: pwsh
        run: |
          echo "Sleeping for 10 seconds"
          Start-Sleep -Seconds 10
          echo "done"
